<div class="container" style="width: 650px;">
  <% if user_signed_in? %>

<table class="table">
  <tr>
   - <%= link_to 'Ready to shop', products_path %>
  </tr>
  <br>
  <tr>
   - <%= link_to 'Profile', uniuser_path(current_user) %>
  </tr>
  <br>
  <tr>
   - <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </tr>
   <br>
  <tr>
   - <%= link_to('Check the date', show_date_path) %>
  </tr>
  <br>
  <tr>
   - <%= link_to('購物紀錄', buy_record_managers_path(current_user)) %>
  </tr>
</table>

<% end %>
<%= render 'layouts/cart' %>

<table class="table">
<% if member_signed_in? %>
	<tr>
    <h3>You Are The Member</h3></tr>
  <tr>
    <th><%= link_to '管理使用者', uniusers_path %></th></tr>
	<tr>
    <th><%= link_to '管理商品', products_path %></th></tr>
	<tr>
    <th><%= link_to '管理商品類別', categories_path %></th></tr>
  <tr>
    <th><%= link_to '管理商品庫存', check_stock_path %></th></tr>
	<tr>
    <th><%= link_to('Logout', destroy_member_session_path, method: :delete) %></th></tr>
<% end %>

</table>

</div>