<div class="container">
<div style="margin-top:5px; text-align: center;">
<h1>電蝦</h1>
</div>
  <% if user_signed_in? %>
  <div class="row">
  <nav class="navbar navbar-expand-sm navbar-light bg-info">
    <a class="navbar-brand col-md-3" href="#"><%= current_user.name%>的電蝦首頁</a>

    <div class="col-md-9" id="navbarSupportedContent">
        <div stlye="float:right;">Flex item 1</div>
        <div class="p-2 bd-highlight"  stlye="float:right;">Flex item 2</div>
        <div class="p-2 bd-highlight">Flex item 3</div>
    
  </div>
  </nav>
</div>

<table class="table">
  <tr>
   - <%= link_to 'Ready to shop', products_path %>
  </tr>
  <br>
  <tr>
   - <%= link_to 'Profile', uniuser_path(current_user) %>
  </tr>
  <br>
  <tr>
   - <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </tr>
   <br>
  <tr>
   - <%= link_to('Check the date', show_date_path) %>
  </tr>
  <br>
  <tr>
   - <%= link_to('購物紀錄', buy_record_managers_path(current_user)) %>
  </tr>

</table>
<% end %>
<%= render 'layouts/cart' %>

<% if member_signed_in? %>
	<p>You Are The Member</p>
  	<li>
   <%= link_to 'Manage User', uniusers_path %>
	</li>
	<br>
	<li>
   <%= link_to 'Manage Product', products_path %>
   	</li>
   	<br>
	<li>
   <%= link_to 'Manage Category', categories_path %>
    </li>
    <br>
  <li>
    <%= link_to '確認商品庫存', check_stock_path %>
  </li>
  <br>
	<li>
   <%= link_to('Logout', destroy_member_session_path, method: :delete) %>      
  </li>
<% end %>
</div>
