<div class="container">
<div style="margin-top:5px; text-align: center;">
<h1>煞氣a電蝦</h1>
</div>
  <% if user_signed_in? %>
  <div class="row">
  <nav class="navbar navbar-expand-sm navbar-light bg-info">
    <a class="navbar-brand col-md-3" href="#"><%= current_user.name%>的電蝦首頁</a>

    <div class="col-md-9" id="navbarSupportedContent">
        <div stlye="float:right;">Flex item 1</div>
        <div class="p-2 bd-highlight"  stlye="float:right;">Flex item 2</div>
        <div class="p-2 bd-highlight">Flex item 3</div>
    
  </div>
  </nav>
</div>

<table class="table">
  <tr>
   - <%= link_to 'Ready to shop', products_path %>
  </tr>
  <br>
  <tr>
   - <%= link_to 'Profile', uniuser_path(current_user) %>
  </tr>
  <br>
  <tr>
   - <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </tr>
   <br>
  <tr>
   - <%= link_to('Check the date', show_date_path) %>
  </tr>
  <br>
  <tr>
   - <%= link_to('購物紀錄', buy_record_managers_path(current_user)) %>
  </tr>

<% if current_cart.empty? == false %>


<h1>購物車</h1>

<%= link_to '清空購物車', cart_path, method: :delete %>

  <thead>
    <tr>
      <td>商品名稱</td>
      <td>數量</td>
      <td>單價</td>
      <td>小計</td>
    </tr>
  </thead>  

  <tbody>
    <% current_cart.items.each do |item| %>
    <tr>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.product.price %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>
  </tbody>
  <br>
  <tfoot>
    <tr>
      <td colspan="3">總計</td>
      <td><%= current_cart.total_price %></td>
    </tr>
  </tfoot>

<% print "HHHHHHHHHH" %>
<% p current_cart %>

<%= link_to '結帳', save_and_destroy_path, :method => :post, :data => { :confirm => '已付款' } %>

<% end %>


</table>
<% end %>

<% if member_signed_in? %>
	<p>You Are The Member</p>
  	<li>
   <%= link_to 'Manage User', uniusers_path %>
	</li>
	<br>
	<li>
   <%= link_to 'Manage Product', products_path %>
   	</li>
   	<br>
	<li>
   <%= link_to 'Manage Category', categories_path %>
    </li>
    <br>
  <li>
    <%= link_to '確認商品庫存', check_stock_path %>
  </li>
  <br>
	<li>
   <%= link_to('Logout', destroy_member_session_path, method: :delete) %>      
  </li>
<% end %>
</div>
