<div class="container">

	<ul id="categories">
		<% @categories.each do |c| %>
			<li>
			<%= render :partial => 'categories/category', :locals => { :c => c} %>		
			</li>
		<% end %>
	</ul>
</div>

<div class="hide_container">
    <div class="slide_header"><span>產生新類別</span>
		</div>
    <div class="content">
			<%= form_with(model: @category) do |f| %>
				<%= f.label :name, "Name:" %>
				<%= f.text_field :name %>

			<%= f.submit "產生" %>
<% end %>
	        
    </div>
</div>

<%= link_to 'Back to main page', managers_path %>


<script type="text/javascript">
	$(".slide_header").click(function () {

    $header = $(this);
    //getting the next element
    $content = $header.next();
    //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
    $content.slideToggle(500, function () {
        //execute this after slideToggle is done
        //change text of header based on visibility of content div
        $header.text(function () {
            //change text based on condition
            return $content.is(":visible") ? "收起" : "產生新類別";
        });
    });

	});
</script>
