<ul>
	<% @categories.each do |c| %>
	<li>
		<%= c.name %>
		<%= link_to 'Show', category_path(c) %>
		<%= link_to 'Edit', edit_category_path(c) %>
		<%= link_to 'Destroy', category_path(c), :method => :delete %>


	</li>

	<% end %>


</ul>
<%= link_to 'Generate new category', new_category_path %><br>


<%= link_to 'Back to main page', root_url %>
