<ul>
	<% @products.each do |pd| %>
	<li>
		<%= pd.name %>
		<%= link_to 'See description', product_path(pd) %>
	
	<% if user_signed_in? %>
	
		<%= link_to '放到購物車', add_cart_path(pd), method: :post %>
	<% end %>

	<% if member_signed_in? %>
 		<%= link_to 'Edit', edit_product_path(pd) %>
		<%= link_to 'Delete', product_path(pd), :method => :delete, :data => { :confirm => 'Are you suer?'} %>    	
	<% end %>
	</li>
	<% end %>
</ul>
	<% if member_signed_in? %>
		<%= link_to 'Create new product', new_product_path %>  	
	<% end %>
	<% if user_signed_in? %>
	
		<%= link_to '檢查購物車', managers_path %>
	<% end %>
<br><br>

<%= link_to 'Back to main page', managers_path %>
