<div class="container">
	<h1>商品列表</h1>
<table class="table">
	<% @products.each do |pd| %>
	<tr>
	<td><%= pd.name %></td>
	<td><%= link_to 'See description', product_path(pd) %>
	<% if user_signed_in? %>
	<%= link_to '放到購物車', add_cart_path(pd), method: :post %>
	<% end %>

	<% if member_signed_in? %>
 		<%= link_to 'Edit', edit_product_path(pd) %>
		<%= link_to 'Delete', product_path(pd), :method => :delete, :data => { :confirm => 'Are you suer?'} %><td>    	
	<% end %>
	<td>
	</tr>
	<% end %>
</table>
	<% if member_signed_in? %>
		<div class="btn">
		<%= link_to 'Create new product', new_product_path %>
		</div> 	
	<% end %>
	<% if user_signed_in? %>
	
		<%= link_to '檢查購物車', managers_path, :class => "btn btn-info" %>
	<% end %>
<br><br>
<%= link_to '回個人主頁', managers_path, :class => "btn btn-primary" %>
