<p>Name : <%= @product.name %></p>
<p> Price : <%= (@product.price) %></p>
<%= simple_format(@product.description) %>

<p> It's in category : <%= @product.category.name %></p> 

	<% if user_signed_in? %>
	
		<%= link_to '放到購物車', add_cart_path(@product) %>
	<% end %>


<p><%= link_to 'Back to index', products_path %></p>