<table class="table">
<% @users.each do |u| %>
<tbody>
	<th><%= u.email %></th>
	<td><%= link_to 'Show', uniuser_path(u) %></td>
	<td><%= link_to 'Edit', edit_uniuser_path(u) %></td>
	<td><%= button_to 'Delete', uniuser_path(u), :class => "btn btn-danger", :method => :delete, :data => { :confirm => "Are you sure?" } %></td>
</tbody>
<% end %>
</table>

<%= link_to 'Generate new user', new_uniuser_path %><br><br>

<%= link_to 'Back to main page', managers_path %>
